/* Write your CSS here */
.list-item {
  list-style-type: none;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.list-event-button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  width: 350px;
  padding: 0px;
}
.event-item-image {
  width: 100%;
  border-radius: 8px;
}
.event-border-color {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #2dd4bf;
}
.event-item-name {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 5px;
}
.event-item-location {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0px;
}
